<!DOCTYPE html>
<html ng-app="jiraApp">
  <head>
    <meta charset="utf-8">
    <title>Jira Scrum Task Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel = "stylesheet"  href="css/mystyles.css">

  </head>

  <body>
<div class = "container">
<header><h1>Jira Task Board</h1></header>

<div class = "my-flexbox" ng-controller="dataController">
<div ng-repeat= "issue in data.issues" class= "my-col panel panel-info" ng-controller = "singleController" style = {{dynamicwidths()}}>

    <div class ="panel-heading">
      <h3 class="panel-title">{{issue.key}}</h3>
      <div class = "labels" ng-repeat= "label in issue.fields.labels">
          <button ng-show="label != 'roadmap' && label != 'internal_result' && label != 'external_result'" class = "btn btn-warning btn-xs" id="labelbutton">{{label}}</button>
      </div><!--End ng-repeat of labels-->
    </div>
    <div class = "panel-body">
      <h3>{{issue.fields.summary}}</h3>
    <hr>
    <ul class ="timedateinfo">
        <li class=""> <strong> Time Estimate: </strong> {{issue.fields.timeestimate/28800}} Days</li>
        <li class=""><strong>Due Date: </strong> {{issue.fields.duedate}}</li>
    </ul>
    <hr>
    <div  class = "description" ng-bind-html ="issue.renderedFields.description | trust"></div>

</div>
</div>




</div>
</div>





<!--LOADING SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
    <script src= "app.js"></script>
    <script src= "js/datacontroller.js"></script>
    <script src= "js/common/datafactory.js"></script>
    <script src= "js/singlecontroller.js"></script>
    <script src= "js/datadirective.js"></script>

  </body>
</html>
