#labelbutton {
  margin: 5px;
}


.my-col {
margin-right: 10px;
flex: 0 0 auto;
}

.my-flexbox {
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.timedateinfo {
  list-style-type: none;
  padding: 0;
}


.summary h3 {
  font-size: 35px;
}

.description h1 {
  font-size: 25px;
  color: grey;
}
